/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

/* Container do Formulário */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos de Cartões */
.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
    display: block;
}

/* Exibe o cartão ativo */
.card.show {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos dos Inputs */
input[type="text"],
input[type="email"],
input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos dos Botões */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos do Mapa */
#map {
    border-radius: 10px;
    height: 400px; /* Ajuste a altura padrão do mapa */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .card {
        padding: 15px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }

    #map {
        height: 300px; /* Ajuste a altura do mapa para telas menores */
    }
}

img {
    max-width: 100%;
    height: auto;
}
